<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Remind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="container">

    <h1>Remind</h1>
    <p class="subtitle">
      A gentle pause to regain control
    </p>

    <!-- form -->
    <form action="/save" method="POST">

      <!-- Time -->
      <div class="section">
        <label for="timeLimit">Reel time limit (in minutes)</label>
        <input
            id="timeLimit"
            name="timeLimit"
            type="number"
            min="5"
            max="120"
            value="10">
        
        <p class="helper-text">
          We’ll remind you when this limit is reached
        </p>
      </div>

      <!-- Interests  -->
      <div class="section">
        <p>Select your interests</p>

        <div class="interests">
          <button type="button">Fitness</button>
          <button type="button">Learning</button>
          <button type="button">Career</button>
          <button type="button">Mental Health</button>
          <button type="button">Music</button>
          <button type="button">Reading</button>
        </div>

        <p class="helper-text">
          These will be shown during your 5-minute reset
        </p>
      </div>

      <!-- intrest field-->
      <input type="hidden" name="interests" id="hiddenInterests">

    
      <button type="submit" class="primary-btn">
        Enable Remind
      </button>

    </form>
 

    <p class="footer-text">
      No notifications • No tracking pressure • No force
    </p>

  </div>

  <script src="{{ url_for('static', filename='app_javascript.js') }}"></script>

</body>
</html>